apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.spring.labels }}-deployment"
  labels:
    app: "{{ .Values.spring.labels }}"

spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: "{{ .Values.spring.labels }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.spring.labels }}"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.spring.service.report.port }}"
        prometheus.io/path: "/actuator/prometheus"
        rollme: {{ randAlphaNum 5 | quote }}
    spec:
      terminationGracePeriodSeconds: 60
      nodeSelector:
        role: app
      containers:
        - name: "{{ .Values.spring.labels }}"
          image: "{{ .Values.spring.image.repository }}:{{ .Values.spring.image.tag }}"
          imagePullPolicy: Always
          # Ingress 라우팅 제외될 때까지 시간 벌어주기
          lifecycle:
            preStop:
              exec:
                command: [ "/bin/sh", "-c", "sleep 20" ]

          env:
            - name: SPRING_DATA_MONGODB_URI
              value: {{ .Values.spring.mongodb.uri | quote }}
            - name: SPRING_REDIS_HOST
              value: {{ .Values.spring.redis.host | quote }}
            - name: SPRING_REDIS_PORT
              value: {{ .Values.spring.redis.port | default 6379 | quote }}
            - name: AWS_S3_BUCKET_NAME
              value: {{ .Values.aws.s3.bucketName | quote }}
            - name: AWS_CREDENTIALS_ACCESS_KEY
              value: {{ .Values.aws.credentials.accessKey | quote }}
            - name: AWS_CREDENTIALS_SECRET_KEY
              value: {{ .Values.aws.credentials.secretKey | quote }}
            - name: AWS_REGION
              value: "ap-northeast-2"

          ports:
            - containerPort: {{ .Values.spring.service.advertise.port }}
          resources:
            requests:
              cpu: "600m"
              memory: "1200Mi"
            limits:
              cpu: "1200m"
              memory: "2400Mi"

          livenessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.spring.service.advertise.port }}
            initialDelaySeconds: 30
            periodSeconds: 15
            failureThreshold: 3
            successThreshold: 1

          readinessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.spring.service.advertise.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
            successThreshold: 1
