server:
  port: 8086
  shutdown: graceful
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: advertise-service
  data:
    mongodb:
      uri:
  redis:
    host:
    port: 6379
    timeout: 3s
    lettuce:
      pool:
        max-active: 12
        max-idle: 2
        min-idle: 1
  lifecycle:
    timeout-per-shutdown-phase: 30s
  jwt:
    issuer: dsada
    secret: your-very-strong-secret-key-which-is-at-least-32-characters-long

logging:
  level:
    com.example.response_service.client: DEBUG
    feign.Logger: DEBUG

resilience4j.circuitbreaker:
  instances:
    userService:
      registerHealthIndicator: true
      slidingWindowSize: 10
      minimumNumberOfCalls: 5
      permittedNumberOfCallsInHalfOpenState: 3
      failureRateThreshold: 50
      waitDurationInOpenState: 10s
    surveyService:
      registerHealthIndicator: true
      slidingWindowSize: 10
      minimumNumberOfCalls: 5
      permittedNumberOfCallsInHalfOpenState: 3
      failureRateThreshold: 50
      waitDurationInOpenState: 10s

management:
  tracing:
    sampling:
      probability: 1.0

  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true


aws:
  region: ap-northeast-2
  s3:
    bucket-name: surveypulse-advertisement-files
  credentials :
    access-key:
    secret-key:
